.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    gap: 60px;
    align-content: flex-start;
    padding:10px;
  }

  @media only screen and (max-width: 500px) {
  
    .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:20px;
  
  }
}  
  