html {
    box-sizing: border-box;
    
  }
  
  body {
    
    margin: 0px;
    background-image: url('../images/paw_background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Titillium Web', sans-serif;

     
}
